body {
  background-color: #4dccfffb;
}
/* ul {
  margin: 0;
  padding: 0;
  background: #eaf3ec;
  overflow: hidden;
} */
ul li {
  padding-left: 50px;
  float: left;
  /*  display: inline; */
  list-style-type: none;
}
ul li a {
  color: #2f1010;
  padding: 12px 16px;
  display: inline-block;
  text-decoration: none;
}
ul li a:hover {
  background: rgb(239, 255, 241);
  color: #151d3b;
  font-size: larger;
  text-decoration: none;
}
.dropdown-content {
  background: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  display: none;
  position: absolute;
}
.dropdown-content a {
  display: block;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.dropdown-content a:hover {
  background: #0eddf8;
  color: #2f1010;
  font-weight: bolder;
  text-decoration: none;
}
.dropdown:hover .dropdown-content {
  display: block;
}
